body {
    font-family: "Open Sans", "sans-serif";
    font-size: 16px;
    background-color: black;
    color: white;
}

label {
    display: block;
    width: 100%;
    margin: 10px 5px 15px 5px;
}

input{
    margin: 10px 0 0 0;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0px;
}



.lastone {
    width: 100px;
}

.odd {
    width: 250px;
}

#number {
    width: 280px;;
}