.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    overflow: hidden;
    /*The overflow property specifies what should happen if content overflows an element's box.
        In this case, .one is making the canvas just a bit bigger and this is known as overflow.
        Overflow specifies whether to clip content or to add scrollbars when an element's content
        is too big to fit in a specific area. 

        **The overflow property only works for block elements with a specified height.**

        The value hidden makes the overflow clipped, and the rest of the content will be invisible.
    */
    filter: blur(2px);
    /*The filter property defines visual effects (like blur and saturation) to an element (often used on <img>)*/
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px #efb762;
    /*The box-shadow property attaches one or more shadows to an element. 
    
        box-shadow: horizontal-offset vertical-offset blur spread color;
        box-shadow is set to none by default.
    */
    border-radius: 9px;
    /*The border-radius property defines the radius of teh element's corners. This property can have
        from one to four values. Here are the rules: 

        border-radius: 15px 50px 30px 5px;
        top-left, top-right, bottom-right, bottom-left

        border-radius: 15px 50px 30px;
        top-left, top-right/bottom-left, bottom-right

        border-radius: 15px 50px;
        top-left/bottom-right, top-right/bottom-left

        border-radius: 15px;
        applies to all corners
    */
    transform: rotate(-0.6deg);
    /*The transform property applies a 2D or 3D transformation to an element. This property allows you 
        to rotate, scale, move, skew, etc., elements. 

        transform: transform-functions;
        In this case, transform: rotate(deg); rotates the element by the degree applied.
        To rotate counter clockwise use negative degrees. 
    */
}

.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #8f0401;
    border-radius: 8px 10px;
    transform: rotate(0.4deg);
}

.one, .two {
    filter: blur(1px);
}

.three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #b20403;
    border-radius: 30px 25px 60px 12px;
    transform: rotate(-0.2deg);
}

.picture {
    text-align: center;
}